{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h2>{{ article.title }}</h2>
<div>{{ article.content }}</div>
<a href="{{ path('actu_article_update', {
  'id': article.id
}) }}">Modifier l'article</a>
</div>
{% endblock body %}
